apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: mfweeklydump
spec:
# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12)
# │ │ │ │ ┌───────────── day of week (0 - 6) (Sunday to Saturday;
# │ │ │ │ │                                       7 is also Sunday on some systems)
# │ │ │ │ │
# │ │ │ │ │
# * * * * *  command to execute
  schedule: "{{ .Values.mfdump.schedule }}"
  jobTemplate:
    spec:
      template:
        spec:
          containers: 
          - name: dump
            image: "{{ .Values.image.repository }}{{ .Values.mfdump.name }}:{{ .Chart.AppVersion }}"               
            env:
            - name: PGPASSWORD
              value: "{{ .Values.mfdump.dbpw }}"     
            volumeMounts:
            - name: myfinancedumps
              mountPath: /var/dumps
          volumes:
          - name: myfinancedumps
            persistentVolumeClaim:
              claimName: {{ .Values.pv.pvcname }} 
          restartPolicy: OnFailure     
      backoffLimit: 4  
